@font-face{
	font-family: Airstrea;
	src: url('../fonts/AIRSTREA.TTF');
}

@font-face{
	font-family: Myriad Pro;
	src: url('../fonts/MYRIADPRO-REGULAR.OTF');
}

/* Global */
/***********************************************************************************************/

body {
	background-color: #af60e7;
	font-family: Myriad Pro;
	background: url("../images/ui_home_bg.jpg") no-repeat fixed;
	background-size: cover;
	background-position: 0% 0%;
}

/* Button */
/***********************************************************************************************/
.button {
	background-color: #9b50d4 !important;	
}

.button:hover {
	color: #9b50d4 !important;
	background-color: #f6cf2e !important;	
}
/***********************************************************************************************/
/* Button */


/*Page Labels*/
/***********************************************************************************************/
.yellow-ribbon {
	color: #fff; 
	padding: 10px;
	margin-top: 10px; 
	position: relative;
	background: rgba(244, 204, 50, 0.8);
}
/***********************************************************************************************/
/*Page Labels*/


/*Forms*/
/***********************************************************************************************/
.form-wrapper {
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.1);
	padding: 20px;
	padding-bottom: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 40px;
	border: 2px solid rgba(179, 23, 219, 0.7);
}

.form-wrapper strong{
	font-size: 18px;
	letter-spacing: 1px;
}

.home-register-form .form-results {
	margin: 0px 20px 0px 20px;
}

.form-results {
	display: none;
}

.form-results {
	color: #fff !important;
	border: 0px !important;
	background: #9b50d4 !important;
}

.form-results p {
	color: #fff !important;
	margin: 0px !important;
	margin: 3px;
}
/***********************************************************************************************/
/*Forms*/


/* Page Title */
/***********************************************************************************************/
.page-title {
	font-family: Myriad Pro;
  	font-size: 3em;
    text-shadow: -3px 2px 1px #2d0e40, -3px 2px 1px #2d0e40, -3px 2px 1px #2d0e40;
	margin-top: 20px;
	font-size: 56px;
	color: #f6cf2e;
}

.page-sub-title {
	color: #fff;
	font-size: 1.5rem;
	background: rgba(123, 71, 156, 0.8);
	display: inline-block;
	padding: 10px;
	box-shadow: -3px 2px 1px #2d0e40;
}

.main-row {
	margin-top: 30px;
}
/***********************************************************************************************/
/* Page Title */


/* Page Menu and Content */
/***********************************************************************************************/
.main-content {
    width: auto;
	min-height: 600px;
    text-align: left;
    position: relative;
    background: url('../images/ui-content-bg.jpg') no-repeat fixed;
    background-size: cover;
	background-color: #fff;
    padding: 60px 20px 40px 20px; 
}

.main-content-menu {
  	margin: 0; 
  	margin-bottom: 40px !important;
  	padding: 0;
 	color: #666 !important;
	list-style-type: none;
}

.main-content-menu li.sub{
	margin-left: 20px;
}

.main-content-menu li a {
    color: #666 !important;
    display: block;
  	font-size: 16px;
  	font-weight: bold;
    padding: 0.66667rem;
    border-bottom: 1px solid #262626;
    transition: background 300ms ease; 
}

.main-content-menu li a:hover {
	background: #7b479c;
	color: #fff !important;
}

.main-content-menu li.active > a {
	background: #7b479c;
	color: #fff !important;
}

.sticy-main-content-menu {
	position: fixed;
	max-width: 220px;
	width: 100%;
	left: auto;
	top: 20px;
}


/***********************************************************************************************/
/* Page Menu and Content */


/* Page underconstruction */
/***********************************************************************************************/
.page-404 {
	padding: 50px;
	min-height: 535px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.page-404 * {
	color: #fff !important;
}

/***********************************************************************************************/
/* Page underconstruction */


/* Captcha */
/***********************************************************************************************/
.captcha .captcha-code {
	width: 25%;
	height: 37px;
	margin: 0px;
	vertical-align: top;
	display: inline-block;
	border:2px solid rgba(179, 23, 219, 0.7); 	
}

.captcha .captcha-refresh {
/*	width: 7%;
	height: 37px;
*/	margin: 0px;
	margin-left: 2px;
	margin-right: 2px;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
}

.captcha .captcha-input {
	width: 65%;
	margin-left: 5px;
	display: inline-block;
}
/***********************************************************************************************/
/* Captcha */


/***********************************************************************************************/
/* Global */

/*Page Headers*/
/***********************************************************************************************/
.faq-header,
.privacypolicy-header,
.termsandconditions-header,
.contactus-header,
.register-header,
.video-header,
.about-header {
	color: white;  
	height: 250px;
}

.signin-header, 
.profile-header {
	color: white;  
	min-height: 300px;
}
/***********************************************************************************************/
/*Page Headers*/


/* Header Menu */
/***********************************************************************************************/
.site-header {
	background: transparent;
}

.site-nav {
	background: rgba(123, 71, 156, 1); 
	border-bottom: 4px solid #f6cf2e; 
	box-shadow: 0px 4px 0px #fff, 0px -4px 0px #fff; 
	border-top: 4px solid #f6cf2e;
	margin-top: 4px;
}

.site-nav ul {
	height: 100%;
	text-align: center;
	margin: 0px !important;
}

.site-nav ul li {
	height: 100%;
	list-style: none;
	padding: 0px !important;
	display: inline-block;
	margin: 0px !important;
	border: none !important;
}

.site-nav ul li.active,
.site-nav ul li:hover {
	background-color: #f6cf2e;
	border-color: #f6cf2e;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
}


.site-nav ul li.active a,
.site-nav ul li:hover a {
	text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.4);
	color: rgba(123, 71, 156, 1) !important;
}

.site-nav ul li a {
	display: block;
	margin: 0px !important;
	color: #fff !important;
	padding: 15px 15px !important;
}

.top-bar {
	overflow: hidden;
	max-width: 970px; 
	margin-left:auto; 
	margin-right: auto;
	height: 150px;
	/*background: #432457;*/
}

.top-bar-section ul{
	background: #c06ef7;
}

.top-bar .name h1 a {
	font-family: Myriad Pro;
}
/***********************************************************************************************/


/* Homepage content */
/***********************************************************************************************/
#homepage_container {
	/*background: url("../images/test landing page.png") #af60e7 no-repeat center center fixed;*/
	min-height: 550px;
	width: auto;
	text-align: left;
	position: relative;
	padding: 40px 20px 40px 20px; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.tagline {
	border-radius: 10px;
	padding-bottom: 100px;
	text-align: center;
}

.tagline h1{
	font-family: Myriad Pro;
	border-radius: 10px;
	text-shadow: -3px 2px 1px #2d0e40, -3px 2px 1px #2d0e40, -3px 2px 1px #2d0e40;
	margin-top: 20px;
	font-size: 56px;
}

.regisration-promotion {
	background: rgba(102, 102, 102, 0.8);
	margin-bottom: 20px;
	position: relative;
	padding: 30px;
	border-radius: 10px;
	border: 4px solid #f6cf2e; 
	box-shadow: 0px 4px 0px #fff,
				0px -4px 0px #fff, 
				4px 0px 0px #fff, 
				-4px 0px 0px #fff,
				4px 4px 0px #fff,
				-4px 4px 0px #fff,
				4px -4px 0px #fff,
				-4px -4px 0px #fff;
}


.regisration-promotion h2,
.regisration-promotion h3 {
	color: #fff;
}


.regisration-promotion img.register-now {
	display: inline-block;	
	border-radius: 10px;
	padding: 10px;
	position: absolute;
	left: 2%;
	top: -14%;
	height: 115px;
}

.regisration-promotion h3 {
	text-align: center;
}

.sub-taglines h3.upper-phrase, h3.lower-phrase {
	background: rgba(123, 71, 156, 0.9); 
	color: #FFFFFF;
	-webkit-transform: rotate(5deg);
	padding: 15px;
	position: absolute;
	margin-left: 20px;
	margin-top:-75px;
}

.sub-taglines h3.lower-phrase {	
	background: rgba(244, 204, 50, 0.9); 
	-webkit-transform: rotate(-5deg);
	position: relative;
	margin-top:10px;
}

.benefits-header {
	color: #fff;
	display: block;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	padding-bottom: 20px;
	line-height: 120%;
}

.benefits a {
	background: rgba(255, 255, 255, 0.9);
	padding: 2px;
}

.benefits li {
	color: #fff;
	list-style: none;
}

.benefits .fa {
	color: #f6cf2e;
}

.homepage_intro_2 div {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.homepage_intro_2 div.benefits {
	max-width: 600px;
	background: rgba(123, 71, 156, 0.8);
	padding: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-0-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	margin-bottom: 40px;
	text-align: left;
}

.homepage_intro_2 div.benefits ul li {
	list-style: none;
}

.homepage_intro_2 div.benefits ul li p{
	line-height: 100%
	margin-bottom: 5px;
}

.homepage_intro_2 div.benefits ul li p i.fa-thumbs-o-up {
	color: #f6cf2e;
}

.homepage_intro_2 h1,
.homepage_intro_2 h3 {
	background: rgba(123, 71, 156, 0.8);
	display: inline-block;
	padding: 10px 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
	text-shadow: -3px 2px 1px #2d0e40, -3px 2px 1px #2d0e40, -3px 2px 1px #2d0e40;
}

.mainline {
	color: #f6cf2e;
	font-weight: bold;
	letter-spacing: 1px;
}

.subline-1 {
	color: #ffffff;
	letter-spacing: 5px;
}

.subline-2 {
	color: #f6cf2e;
	letter-spacing: 1px;
}

.homepage_intro {
	-webkit-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
	-moz-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
	-ms-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
	-o-box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
	box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.9);
	background: rgba(0, 0, 0, 0.4);
	border-radius: 5px;
	padding: 20px;
	color: #fff;
}

.homepage_intro h1,
.homepage_intro h3{
	color: #fff;
}

.teaser-form-entry * {
	height: 50px;
}

.teaser-form-entry-url {
	font-size:18px !important;
	height: 50px !important;
}

.teaser-form-entry-submit {
	background-color: #7b479c;
	font-family: Myriad Pro;
	font-size: 22px !important;
	padding: 12px !important;
	width: 100%;
}

.float-logo-wrapper {
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.floating-logo {
	display: block;
	width: 100%;
}

input.video-field {
	margin-top : 30px;
	margin-left: 20px;
	padding:25px;
}

a.button.button-field {
	margin-top: 30px;
	margin-left: -30px;
	background-color: #9b50d4;
}

a.register-btn{
	background-color: #9b50d4;
}
/***********************************************************************************************/
/* Homepage content */


/* About content */
/***********************************************************************************************/
/***********************************************************************************************/
/* About content */


/* FAQ content */
/***********************************************************************************************/
.faq-form-header p {
	font-size: 18px;
}

.faq-form textarea {
	resize:none;
	height: 60px;
}
/***********************************************************************************************/
/* FAQ content */


/* Privacy Policy content */
/***********************************************************************************************/
/***********************************************************************************************/
/* Privacy Policy content */


/* Terms & Conditions content */
/***********************************************************************************************/
/***********************************************************************************************/
/* Terms & Conditions content */


/* Contact Us content */
/***********************************************************************************************/
#ourmap {
	width: 100%;
	height: 250px;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 5px;
	border:2px solid rgba(179, 23, 219, 0.7);
	background: rgba(0, 0, 0, 0.1);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

.contact-us-form textarea {
	resize: none;
	height: 90px;
}
/***********************************************************************************************/
/* Contact Us content */


/* Register content */
/***********************************************************************************************/
/***********************************************************************************************/
/* Register content */


/* Footer Menu */
/***********************************************************************************************/
.site-footer {
	background: #333333;
	padding: 24px 0 10px; 
	font-size: 16px;
}

.site-footer-links {
	margin: 0;
    padding-bottom: 0px;
    display: inline-block;
}

.site-footer-links li {
	/*float: left;*/
	display: block;
	font-size: 1rem; 
	margin-left: 6px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 5px;
	margin-bottom: 5px;
}

.site-footer-links li a {
	color: #666666;
    padding: 3px 6px;
}

.site-footer-links li a:hover {
	color: #aaaaaa; 
}

.site-footer-follow-us {
    float: right;
	display: block;
    margin-bottom: 8px;
}

.site-footer-follow-us li {
	float: left;
	display: block; 	
	list-style: none;
	margin-left: 10px;
}

.site-footer-follow-us li:first-child {
    margin-left: 0; 
}

.site-footer-follow-us li a {
    width: 50px;
    height: 50px;
    display: block;
    background: url("../images/imagelinks.png") no-repeat center 0; 
  	opacity: 0.50;
	filter: alpha(opacity=50); 
}

.site-footer-follow-us li a:hover {
  	opacity: 1;
	filter: alpha(opacity=100); 
}

.site-footer-follow-us li a.twitter {
	background-position: center 0; 
}

.site-footer-follow-us li a.facebook {
	background-position: center -200px; 
}

.site-footer-follow-us li a.mail {
	background-position: center -400px; 
}

.site-footer-follow-us li.linkedin {
	margin-left: 0px !important;
}

.site-footer-follow-us li a.linkedin {
	background-position: center -600px; 
}

.copyright {
    float: left; 
    color: #666666; 
    margin: 6px 0 0;
    font-size: 0.75rem;
}
/***********************************************************************************************/
/* Footer Menu */


/*Profile Page*/
/***********************************************************************************************/
.my-video-list ul li {
	list-style: none;
	display: inline-block;
	padding: 10px 10px;
}

.my-video-list ul li a {
	height: 200px;
	width: 275px;
	display: block;
	background: #ddd;
	border-radius: 5px;
	box-shadow: -1px 0px 1px rgba(45,14,64, 0.4);
}
/***********************************************************************************************/
/*Profile Page*/


/* Video content */
/***********************************************************************************************/
/***********************************************************************************************/
/* Video content */


/* Profile content */
/***********************************************************************************************/
.upload-video-form input[type="text"] {
	margin: 20px !important;
}

.upload-video-form .button{
	margin-top: 20px !important;  
	margin-left: -20px !important;
}
/***********************************************************************************************/
/* Profile content */


/* Signin content */
/***********************************************************************************************/
.sign-in-box {
	width: 100%; 
	max-width: 370px; 
	margin-top: 40px;
	margin-left: auto; 
	margin-right: auto; 
}
/***********************************************************************************************/
/* Signin content */

/* Signin content */
/***********************************************************************************************/
.profile-pic {
	width: 250px; 
	height: 250px; 
	overflow: hidden; 
	border-radius: 50%;
	position: relative; 
	box-shadow: -3px 2px 1px #2d0e40;
	margin: auto;
	margin-bottom: 20px;
}

.profile-pic img {
	width: 100%;  
	background: #333;
}

.profile-pic .change-trigger {
	position: absolute;
	z-index: 100;
	top: 0;
	background: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: 60% 39%;
	color: #fff;
	letter-spacing: 2px;
	display: none;
}

.profile-pic:hover .change-trigger {
	display: block;
}

.file-input {
	opacity: 0;
}
/***********************************************************************************************/